[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql = "*"
mysql-connector = "*"
flask = "*"
pyquery = "*"
requests = "*"
pipfile = "*"
rarfile = "*"
py7z = "*"
py7zr = "*"
paramiko = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.9"
